body {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  color: azure;
  font-family: monospace;
}

.weatherApp {
  border: 1px solid #c3b1e1;
  border-radius: 6px;
  display: block;
  box-shadow: 2px 2px 5px 1px #ceb7ed;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-size: cover;
  padding: 5px;
  margin: 10px auto;
  max-width: 650px;
  max-height: 450px;
}

.city {
  position: relative;
  top: 30px;
  padding: 10px;
  left: 20px;
  text-align: left;
  font-family: monospace;
  font-weight: 600;
  font-size: 24px;
  color: azure;
}

.todayDate {
  position: relative;
  top: 20px;
  padding: 5px;
  text-align: left;
  left: 20px;
  font-family: monospace;
  font-weight: 600;
  font-size: 18px;
  color: azure;
}

button:hover {
  color: #fff;
  background-color: #c3b1e1;
  border: solid 1px;
  border-color: #f5f4f5;
}
button {
  transition: ease-in-out 0.2s;
  background-color: #c3b1e1;
  border-color: #c3b1e1;
  color: #fff;
  border-radius: 8px;
}
ul {
  position: relative;
  top: 10px;
  text-align: right;
  right: 20px;
  margin: 0;
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  color: azure;
}

.todayWeather {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight: 800;
  color: azure;
  margin: 0;
}
.todayWeather img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 90px;
}

#celsius-link {
  font-family: monospace;
  font-weight: 600;
  font-size: 20px;
  color: azure;
}
#fahrenheit-link {
  font-family: monospace;
  font-weight: 600;
  font-size: 20px;
  color: azure;
}
form#search {
  color: #fff;
  border: 1px solid #c3b1e1;
  display: block;
  top: 15px;
  right: 20px;
  position: fixed;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  font-family: monospace;
  font-weight: 600;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: #006abd;
}
input[type="text"] {
  border: none;
  border-bottom: 2px solid #c3b1e1;
  background-color: #a7b8e3;
}